:host {
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .login-container {
    flex: 0 0 auto;
    width: 500px;

    display: flex;
    flex-direction: column;

    background: aliceblue;
    border-radius: 20px;
    padding: 20px;
  }
}

