<form class="login-container" #AuthLogin="ngForm" (ngSubmit)="login()">
  <mat-form-field>
    <input matInput required [(ngModel)]="model.login" placeholder="Login" name="login">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Enter your password" [(ngModel)]="model.password" [type]="hide ? 'password' : 'text'"  name="password">
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit">Login</button>
</form>
